﻿@page "/"
@using System.IO
@inject HttpClient Http
@inject NavigationManager nav

<div class="container">
    <h1 class="title">ACE model converter</h1>

    <div id="input-box" class="horiz-align vert-align">
        <p class="mid-align">Choose your Papyrus .uml file.</p>
        <InputFile OnChange="@OnInputFileChange" id="input-field" class="mid-align" />
        <button type="submit" class="mid-align my-btn" @onclick="@OnSubmit">Convert!</button>
        @*<a href="/GeneratingUnderway" class="mid-align my-btn" @onclick="@OnSubmit">Convert!</a>*@
    </div>
</div>

@code {
    IBrowserFile selectedFile;

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        Console.WriteLine("Selected file changed");
        selectedFile = e.File;
        this.StateHasChanged();
    }

    private async Task OnSubmit(MouseEventArgs e)
    {
        Console.WriteLine("Uploading model.");

        Stream stream = selectedFile.OpenReadStream();
        HttpContent fileStreamContent = new StreamContent(stream);
        string actionUrl = "api/upload";
        using (var client = new HttpClient())
        using (var formData = new MultipartFormDataContent())
        {
            formData.Add(fileStreamContent, "file1", "file1");
            var other = await Http.PostAsync(actionUrl, formData);
            //var response = await client.PostAsync(actionUrl, formData);
            if (!other.IsSuccessStatusCode)
            {
                Console.WriteLine("Something went wrong :)");
            }
        }
        Console.WriteLine("Upload succeeded. Redirecting...");
        nav.NavigateTo("/GeneratingUnderway");
    }
}