﻿@page "/GenerationSuccess"
@inject IJSRuntime JSRuntime

<div class="container">
    <h1 class="title"> Code skeleton generation succeeded</h1>

    <div id="input-box" class="horiz-align vert-align">
        <button type="button" class="mid-align my-btn" @onclick="DownloadSkeleton">Download</button>
        <a href="/" class="mid-align my-btn">Return</a>
    </div>
</div>

@code {
    async Task DownloadSkeleton()
    {
        Console.WriteLine("Serving download...");
        await JSRuntime.InvokeVoidAsync("downloadFromUrl", new { Url = "../resources/Model.zip", FileName = "Model.zip" });
    }
}
