﻿@page "/GeneratingUnderway" 
@inject HttpClient Http 
@inject NavigationManager nav 

<div class="container">
    <h1 class="title">Generating...</h1>
</div>

@code {
    private async Task StartUp()
    {
        Console.WriteLine("Starting compilation.");

        string actionUrl = "api/model";
        HttpResponseMessage result = await Http.GetAsync(actionUrl);
        if (result.IsSuccessStatusCode)
        {
            Console.WriteLine("Compilation success! Redirecting...");
            nav.NavigateTo("/GenerationSuccess");
        }
        else
        {
            Console.WriteLine("Compilation fail! Redirecting...");
            nav.NavigateTo("/GenerationFailure");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await StartUp();
    }
}